*{
	padding:0;
	margin:0;
	list-style: none;
}
a{ 
	text-decoration: none;
	color:inherit;
}
a:link{
  text-decoration:none;
}
html{
	font-size: 100px;
	height:100%;
	width:100%;
  font-family: "微软雅黑","苹方";
}
body{
	font-size: 16px;
	height:100%;
	width:100%;
}

@mixin username($size){
  $shebei-list:320px,360px,375px,384px,412px,414px,435px;
  html{
    @each $shebei in $shebei-list{
      @media screen and(min-width: $shebei){
        font-size: 100px * ($shebei/$size);
      }
    }
  }
}
@include username(320px);
$fcolor:#ffffff;
$hucolor:#ED9D46;
$ccolor:#cccccc;
$zicolor:#818181;
$zhus:#EA413C;
$zus:#F8F6F9;
$di:#F0EEF1;
$lancolor:#556AE5;
$bian:#E9E7E9;

.as1{
	color:$zhus;
}
.as2{
  color:$zhus;
  border-bottom:2px solid $zhus;
}
.person{
	height:100%;
	width:100%;
	background:$di;
	.persontop{
		height:1.95rem;
		width:100%;
		background:$zhus;
		position: relative;
		.pt-a.icon{
			position: absolute;
			height:0.25rem;
      line-height: 0.25rem;
      text-align: center;
      width:0.55rem;
      top:0.2rem;
      color:#fff;
      right:0.15rem;
    }
    .pt-b{
     height:0.68rem;
     width:0.68rem;
     border-radius: 50%;
     background:#FDE2E7;
     text-align: center;
     line-height: 0.68rem;
     color:#E4D0CF;
     position: absolute;
     font-size:0.3rem;
     margin:auto;
     right:0;
     left:0;
     top:0.48rem;

   }
   .pt-c{
     height:0.9rem;
     width:100%;
     text-align: center;
     line-height: 0.3rem;
     position: absolute;
     top:1.1rem;
     color:$fcolor;
     .pt-c1{
      font-size:0.14rem;
      font-weight: bold;	
    }
    .pt-c2{
      font-size:0.12rem;
      color:$hucolor;
      border-radius: 20%;
      line-height: 0.23rem;
      height:0.23rem;
      display:inline-block;
      border:1px solid $hucolor;
    }
    .pt-c3{
     font-size: 0.10rem;
     color:$ccolor;
   }
 }

}
.personbottom{
  height:3.3rem;
  width:100%;
  .pdtop{
    height:0.56rem;
    width:100%;
    background:$di;
    span{
     display:inline-block;
     box-sizing: border-box;
     height:100%;
     width:23%;
     margin-left: 2px;
     .sp{
      color:$zicolor;
      text-align: center;
      line-height: 0.28rem;
      font-size:0.12rem;
      height:50%;
      width:100%;
    }
  }
}

.pdcenter{
  height:2.40rem;
  overflow: auto;
  width:100%;
  ul{
   height:auto;
   width:100%;
   li{
    height:0.36rem;
    width:100%;
    margin-top:0.03rem;
    .youiz{
      float:right;
      padding-right:0.1rem;
      color:#ADABAE;
      color:0.14rem;
    }
    span{
      float:left;
      display:inline-block;
      height:100%;
      width:1rem;
      padding-left:0.36rem;
      line-height: 0.36rem;

      }}
      li:nth-child(1) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e630";
         color:#EA413C;
       }
     }
     li:nth-child(2) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e63e";
         color:#EBB918;
       }

     }
     li:nth-child(3) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e616";
         color:#4E9CDF;
       }

     }
     li:nth-child(4) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e63f";
         color:#EA413C;
       }

     }
     li:nth-child(5) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e61f";
         color:#4752A2;
       }

     }
     /*447FFB*/
     li:nth-child(6) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e623";
         color:#447FFB;
       }

     }
     li:nth-child(7) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e640";
         color:#447FFB;
       }

     }
     /*e613*/
     li:nth-child(8) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e613";
         color:green;
       }

     }
     li:nth-child(9) span{
       position: relative;
       &:before{
         font-size: 0.2rem;
         height:0.46rem;
         position:absolute;
         left:0;
         top:0;
         text-align: center;
         line-height: 0.36rem;
         font-family: "iconfont";
         width:0.36rem;
         content:"\e621";
         color:blue;
       }

     }

   }
 }
}

}
.footer{
	height:0.4rem;
	width:100%;
	background: black;
	position: fixed;
	text-align: center;

  font-size: 0.14rem;
  bottom:0;
  color:$zicolor;
  left:0;
  ul{
    height:100%;
    width:100%;
    padding-top:0.03rem;
    li{
      float:left;
      width:20%;
      height:100%;
      position: relative;
      a{
        display:inline-block;
        height:100%;
        width:100%;
        padding-top:0.2rem;
        box-sizing: border-box;
        &:after{
          font-size: 0.2rem;
          height:0.16rem;
          position:absolute;
          left:0.15rem;
          bottom:0.32rem;
          text-align: center;
          line-height: 0.36rem;
          font-family: "iconfont";
          width:0.36rem;
        }

      }
    }
    li:nth-child(1) a:after{content: "\e609"}
    li:nth-child(2) a:after{content: "\e635"}
    li:nth-child(3) a:after{content: "\e61b"}
    li:nth-child(4) a:after{content: "\e630"}
    li:nth-child(5) a:after{content: "\e612"}
  }
}

/*新闻*/
.head{
	height:0.56rem;
	width:100%;
	background:$zhus;
	color:#ffe;
	font-weight: bold;
	div{
		height:0.5rem;
		float:left;
		padding-top:0.26rem;
		padding-left: 0.1rem;
		font-size: 0.14rem;
		box-sizing: border-box;
    color:#DE8E83;
    img{
      height:100%;
    }
  }
  .xiao{color:#DED6D3;}
  span{
    display:inline-block;
    float:right;
    height:0.24rem;
    font-size: 0.14rem;
    color:#DED6D3;
    padding:0.26rem 0.12rem 0 0.12rem;
    img{
      height:100%;
    }
  }
}
.header{
	height:0.3rem;
	width:100%;
	background:$zus;
	ul {
		height:100%;
		width:100%;
    text-align: center;
    li{
     margin:0 auto;
     height:100%;
     width:14%;
     float:left;
     a{ font-size: 0.12rem;
      text-align: center;
      line-height: 0.3rem;
      display:inline-block;
      height:100%;
      width:100%;
    }
    }}
  }
  /*新闻*/
  .t{
    img{
      height:100%;
      width:100%;
    }
    .tu{
      margin-top:0.06rem;
      height:1.7rem;
      width:100%;
      /*background:red;*/
    }
    .tuwen{
     ul{
      height:auto;
      width:100%;
      box-sizing:border-box;
      padding:0 0.12rem;
      li{
       height:0.62rem;
       width:100%;
       margin:0.2rem 0;
       .left{
        float:left;
        height:100%;
        width:0.82rem;
        /*background:red;*/
        img{
         height:100%;
         width:100%;
       }
     }
     .right{
      float:left;
      padding: 0.06rem;
      box-sizing: border-box;
      height:100%;
      width:2.12rem;
      font-size: 0.12rem;
      position: relative;
      top:0;
      left:0;
      p{ font-weight: bold;}

      .right-2{
       position: absolute;
       bottom:0.01rem;
       left:0.1rem;
       color:$zicolor;
     }
     .right-1{
       position: absolute;
       bottom:0.01rem;
       right:0.1rem;
       color:$zicolor;
     }
   }
 }
}
}

}
/*阅读*/
.read{
	padding:0.1rem;
	box-sizing: border-box;
  height:4.60rem;
  overflow: auto;
  width:100%;
  img{
    height:100%;
    width:100%;
  }
  ul{
    height:auto;
    width:100%;
    li{ 
     margin-top:0.14rem;
     box-shadow: 0 0 2px $bian;
     border:2px solid $bian;
     padding:0.02rem;
     box-sizing: border-box;
     /*height:1.2rem;*/
     width:100%;
     span{
      height:1.71rem;
      width:100%;
      display:inline-block;
      .read-l{
        height:100%;
        width:1.9rem;
        float:left;
      }
      .read-r{
        height:100%;
        width:1.00rem;
        float:left;
        .read-r-1{
         height:0.85rem;
         width:100%;
       }
     }
   }
   .read-t{
    height:0.72rem;
    width:100%;
    padding-bottom: 0.06rem;
    border-bottom:1px solid #EEECEE;
    .read-t-l{
     height:100%;
     width:0.96rem;
     float:left;
   }
   .read-t-r{
     height:100%;
     float:left;
     width:1.67rem;
     margin-left: 0.15rem;
     p{
      font-size:0.14rem;
      color:#312F32;
      font-weight: bold;
      padding:0.1rem;
      box-sizing: border-box;
    }
  }

}
.read-b{
  height:0.31rem;
  width:100%;
  font-size: 0.12rem;
  color:$zicolor;
  padding-top:0.04rem;
  box-sizing: border-box;
  text-align: center;
  line-height: 0.31rem;
  .read-b-l{
   height:100%;
   width:auto;
   float:left;
 }
 .read-b-r{
   height:100%;
   width:auto;
   float:right;
   margin-right:0.14rem;
 }
}

}
}
}
/*radio*/
.radio{
	width:100%;
	padding:0 0.2rem;
	box-sizing: border-box;
	height:4.6rem;
	overflow: auto;

	ul{
		height:100%;
		width:100%; 
   margin-top:0.1rem;
   li{
     height:1.96rem;
     width:1.40rem;
     float:left;
     display:inline-block;
     position: relative;
     font-size: 0.12rem;
     line-height: 1.5em;
     color:$zicolor;
     div{
      height:1.08rem;
      width:1.4rem;
      position: relative;
      &:after{
        content:"\e622";
        font-size: 0.4rem;
        height:0.36rem;
        width:0.36;
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        top:0;
        margin:auto;
        color:#ffffff;
        text-align: center;
        line-height: 0.36rem;
        font-family: "iconfont";}
        img{
          height:100%;
          width:100%;

        }

      }
      p{width:100%;
        font-size: 0.14rem;
        line-height: 1.5em;
        margin-top:0.1rem;
        padding:0 0.01rem;
        color:#393937;
        font-weight: bold;
        box-sizing: border-box;
        font-family: "微软雅黑";
      }
      span{position: absolute;
        bottom:0.1rem;

      }
    }
  }
}
/*talk*/
.talk{
	height:4.9rem;
	width:100%;
	box-sizing: border-box;
	overflow: auto;
  img{
    height:100%;
    width:100%;
  }
  .talk-tel{
    margin-top:0.03rem;
    padding:0 0.1rem;
    li{
      box-shadow: 0 0 5px #EBEBEB;
      border:1px solid #EBEBEB;
    }
    .talkp{
      display:inline-block;
      width:100%;

      color:#535152;
      font-weight: bold;
      text-align: center;
    }

  }
  .talk-ban{
    width:100%;
    height:auto;
    ul{
     height:auto;
     width:100%;
     li{
      height:1.9rem;
      width:100%;
      border:1px solid $bian;
      box-sizing: border-box;
      margin-top:0.12rem;
      h3{
        font-size: 0.16rem;
        color:#5F5F5F;
        padding-left: 0.3rem;
        text-align: left;
      }
      .talk-ban-1{
        height:0.94rem;
        width:100%;
        .tell{
         padding: 0.2rem;
         box-sizing: border-box;
         height:0.3rem;
         width:100%;
         a{
          display:inline-block;
          border-right: 1px solid #ccc;
          padding:0 0.03rem;
          line-height: 0.2rem;
          color:#C5C3C6;
          float:left;
        }
        a:nth-child(1){
          color:#86CBF5;
        }
        span{
          display:inline-block;
          float:right;
          position: relative;
          &:before{
           font-size: 0.2rem;
           height:0.46rem;
           position:absolute;
           left:-0.5rem;
           top:0;
           text-align: center;
           line-height: 0.36rem;
           font-family: "iconfont";
           width:0.36rem;
           content:"\e611";
           color:$zhus;

         };
       }

     }
     .talk{
      height:50%;
      width:100%;
      .talklef{
        display:inline-block;
        /*background:yellow;*/
        height:0.21rem;
        width:0.21rem;
        margin:0.13rem;
        border-radius: 50%;
        font-size: 0.21rem;
        color:#E1E1DF;
        box-sizing: border-box;
        img{
          display:inline-block;
          height:100%;
          width:100%;
          border-radius: 50%;
        }

      }
      .talkrigh{
        line-height: 0.47rem;
        display:inline-block;
        color:#605E61;
        font-family: "微软雅黑";
        font-size: 0.14rem;

      }
    }
  }


}
}

}
}



/*yindao*/
#yindao{
  height:100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  img{
    height:100%;
    width:100%;
  }


}

div.sbtn{
  height:0.4rem;
  width:1.56rem;
  position: absolute;
  margin:auto;
  top:3.95rem;
  left:0;
  right:0;
}

/*//////////*/
.hde{
  height:1.70rem;
  width:100%;
  img{
    height:100%;
    width:100%;
  }
}
.zhibz{
  height:3.0rem;
  overflow: auto;
  width:100%;
  padding:0 0.1rem;
  box-sizing: border-box;
  ul{
    height:auto;
    width:100%;
    li{
     height:1.9rem;
     width:100%;
     h3{
      height:0.4rem;
      line-height: 0.4rem;
      width:100%;
      font-size: 0.12rem;
      color:#4D4D4D;
    }
    .top{
      height:1.06rem;
      width:100%;
      img{
        height:100%;
        width:100%;
      }
    }
    .bottom{
      width: 100%;
      color:#A5A5A5;
      a{
       float:left;
       font-size: 0.12rem;
       height:0.43rem;
       line-height: 0.43rem;
     }
     span{
      display: inline-block;
      float:right;
      font-size: 0.12rem;
      padding:0 0.05rem;
      height:0.43rem;
      line-height: 0.43rem;
    }
    span:nth-child(2){
      color:#89B4D8;
    }
  }
}



}

}

/*推荐*/
#tuijian{
  background:#DCDADD;
  .tu{
    width:100%;
    height:1.08rem;
    img{
      height:100%;
      width:100%;
    }
  }
  .tul{

    height:3.32rem;
    overflow: auto;
    padding:0 0.1rem;
    box-sizing: border-box;
    width:100%;
    ul{ 

      height:auto;
      width:100%;
      li{
        background:#F8F6F9;
        margin-top:0.08rem;
        height:1.12rem;
        width:100%;
        .tu-bottom{
          height:0.58rem;
          line-height: 0.58rem;
          padding-left:0.1rem;
          font-weight: bold;
          color:#5B595C;
        }
        .tu-top{
          height:0.60rem;
          width:100%;
          border-bottom:1px solid #C8C6C9;
          .left{
            height:0.35rem;
            width:0.35rem;
            display:inline-block;
            border-radius: 50%;
            margin:0.11rem;
            float: left;
            background:red;
            img{
              height:100%;
              width:100%;
              border-radius: 50%;
            }
          }
          .center{
            float:left;
            height:100%;
            width:1.8rem;
            .top{
              height:50%;
              line-height: 0.29rem;
              color:#363437;
              font-size: 0.14rem;
            }
            .bottom{

              height:50%;
              line-height: 0.29rem;
              font-size: 0.12rem;
              color:#989598;
            }
          }
        }
      }
    }
  }
}
/*搜索*/
.sousu{
  height:5.3rem;
  width:100%;
  background:#F7F7F9;
  /*background:red;*/
  .h{
    border:1px solid #d2d0d3;
    height:0.32rem;
    width:90%;
    margin:0 auto;
    margin-top:0.1rem;
    padding:0 0.1rem;
    box-sizing: border-box;
    background:#FEFEFE;
    position: relative;
    &::before{
      content:"\e63a";
      font-size: 0.18rem;
      height:0.36rem;
      width:0.36;
      position:absolute;
      left:-0.2rem;
      top:0.04rem;
      padding-left: 0.3rem;
      color:#8A888B;
      text-align: center;
      font-family: "iconfont";
    }
    input{
      border-radius: 20%;
      border:0;
      outline: none;
      height:100%;
      padding-left:0.3rem;
      /*width:100%;*/


    }

  } 
  .l{
    height:4.30rem;
    width:100%;
    
    .lo{
      height:100%;
      width:20%;
      background:red;
      float:left;
      overflow: auto;
      box-sizing: border-box;
      border-right: 3px solid #9B9B9B;
      ul{
        height:auto;
        width:100%;
        li{
          height:0.64rem;
          width:100%;
          float:left;
          background: blue;
        }
      }
    }
    .lp{
      float:left;
      height:100%;
      overflow: auto;
      width:80%;
      ul{
        height:auto;
        width:100%;
        li{
          border-bottom: 1px solid #9B9B9B;
          height:0.64rem;
          width:100%;
          float:left;
          background: blue;

          .tu-top{
            height:0.60rem;
            width:100%;
            border-bottom:1px solid #C8C6C9;
            .left{
              height:0.35rem;
              width:0.35rem;
              display:inline-block;
              border-radius: 30%;
              margin:0.11rem;
              float: left;
              background:red;
            }
            .center{
              float:left;
              height:100%;
              width:1.4rem;
              .top{
                height:50%;
                line-height: 0.29rem;
                color:#363437;
                font-size: 0.14rem;
              }
              .bottom{

                height:50%;
                line-height: 0.29rem;
                font-size: 0.12rem;
                color:#989598;
              }
            }
            .right{
              height:0.28rem;
              padding:0.1rem;
              margin-top:0.06rem;
              margin-left: 0.08rem;
              width:0.28rem;
              display:inline-block;
              /*background:yellow;*/
              img{
                height:100%;
                width:100%;
              }

            }
          }
        }
      }
    }
  }
}
.wodeding{
  .o{
    height:4.26rem;
    overflow: auto;
    .ol{
      height:0.68rem;
      width:100%;
      margin-top:0.06rem;
      position: relative;
      a{
        position: absolute;
        display: inline-block;
        height:100%;
        width:100%;
      }
      span{
        float:left;
        display:inline-block;
      }
      .loi{
        height:0.48rem;
        width:0.48rem;
        margin:0.1rem;
        border-radius: 30%;
        img{
          height:100%;
          width:100%;
          }}
          .center{
           height:100%;
           width:2.2rem;
           line-height:0.68rem; 
           color:#686667;
           box-sizing: border-box;
           padding-left:0.2rem;
           font-weight: bold;

         }

         .right{
          position: relative;
          &::before{
            content:"\e641";
            font-size: 0.18rem;
            height:0.36rem;
            width:0.36;
            position:absolute;
            left:-0.25rem;
            top:0.2rem;
            padding-left: 0.3rem;
            color:#8A888B;
            text-align: center;
            font-family: "iconfont";
          }
        }

      } 
      .ul{
        height:auto;
        width:100%;
        li{
          height:0.58rem;
          width:100%;

          .loi{
            display:inline-block;
            float:left;
            height:0.38rem;
            width:0.38rem;
            margin:0.1rem;
            border-radius: 30%;
            img{  
              border-radius: 30%;

              height:100%;
              width:100%;
              }}
              .cer{
                display:inline-block;
                float:left;
                height:100%;
                width:2.2rem;
                line-height:0.58rem; 
                color:#686667;
                box-sizing: border-box;
                padding-left:0.2rem;
                font-weight: bold;
                h3{
                  height:0.29rem;
                  line-height: 0.29rem;
                }
                .dc{
                  height:0.29rem;
                  line-height: 0.29rem;
                  font-size: 0.12rem;
                }


              }

             .right{
          position: relative;
          &::before{
            content:"\e641";
            font-size: 0.18rem;
            height:0.36rem;
            width:0.36;
            position:absolute;
            left:-0.15rem;
            top:0.2rem;
            padding-left: 0.3rem;
            color:#8A888B;
            text-align: center;
            font-family: "iconfont";
          }
        }

            }
          } 


        }

      }

      /*设置*/
  .shezhi{

    .she{
      height:4.7rem;
      width:100%;
      overflow: auto;
      padding:0 0.1rem;
      box-sizing: border-box;
      span{
        height:0.4rem;
        width:100%;
        display:inline-block;
        font-size:0.10rem;

        line-height: 0.4rem;
      }
      li{
        color:#606060;
        padding:0 0.1rem;
        box-sizing: border-box;
        line-height: 0.46rem;
        font-weight: bold;
        height:0.46rem;
        width:100%;
        font-size: 0.14rem;
        .left{
          float:left;
        }
        .right{
          float: right;
        }
        a{
          float:right;
          padding-right:0.14rem;
          box-sizing: border-box;
          position: relative;
          &::after{
            content:"\e641";
            font-size: 0.18rem;
            height:0.36rem;
            width:0.36;
            position:absolute;
            left:-0.01rem;
            top:0;
            padding-left: 0.3rem;
            color:#8A888B;
            text-align: center;
            font-family: "iconfont";
          }
        }
      }

    }
  }