 	<div class="footer">
   <ul>
   	<li class="footer1"  ng-class="{as1:title=='微信'}" ng-click="title='微信'"><a href="#/xinwen">新闻</a></li>
   	<li class="footer2" ng-class="{as1:title=='阅读'}" ng-click="title='阅读'"><a href="#/yuedu">阅读</a></li>
   	<li class="footer3 "ng-class="{as1:title=='视频'}" ng-click="title='视频'"><a href="#/radio">视频</a></li>
   	<li class="footer4"ng-class="{as1:title=='话题'}" ng-click="title='话题'"><a href="#/talk">话题</a></li>
   	<li class="footer5"ng-class="{as1:title=='我'}" ng-click="title='我'"><a href="#/wo">我</a></li>
   </ul>

	</div>