<div class="radioaa" ng-controller="radio">
<div class="head">
<div>视频</div>

</div>
<div class="header">
<ul>
	<li><a href="" >推荐</a></li>
	<li><a href="" ng-class="{as2:title=='搞笑'}" ng-click="title='搞笑'">搞笑</a></li>
	<li><a href="" ng-class="{as2:title=='新闻现场'}" ng-click="title='新闻现场'">新闻现场</a></li>
	<li><a href="" ng-class="{as2:title=='八卦'}" ng-click="title='八卦'">八卦</a></li>
	<li><a href="" ng-class="{as2:title=='猎奇'}" ng-click="title='猎奇'">猎奇</a></li>
	<li><a href="" ng-class="{as2:title=='萌物'}" ng-click="title='萌物'">萌物</a></li>
</ul>
</div>
<div class="radio">
<ul>
	<li>
  <div><img src="jpg/radio/radio-1.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
	<li>
  <div><img src="jpg/radio/radio-2.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
		<li>
  <div><img src="jpg/radio/radio-3.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
		<li>
  <div><img src="jpg/radio/radio-4.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
		<li>
  <div><img src="jpg/radio/radio-5.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
		<li>
  <div><img src="jpg/radio/radio-8.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
		<li>
  <div><img src="jpg/radio/radio-7.jpg" alt=""></div>
  <p>撒大家看我客户电话 哦了看我家如何 </p>
  <span>音悦之声</span>
	</li>
</ul>






</div>
</div>



