<div class="tttalk" ng-controller="talk">
<div class="head">
<div>话题</div>
<div>问吧</div>
<div>关注</div>
<span class="icon iconfont">&#xe61a;</span>
<span class="icon iconfont">&#xe63a;</span>
</div>
<div class="talk">
<div class="talk-tel swiper-container">
 <ul class="swiper-wrapper">
 	<li class="swiper-slide">
 	<span class="talkj"><img src="jpg/12/talk9.png" alt="">
</span>
 	<span class="talkp"># 可爱小兔 #</span>
 	</li>
 	<li class="swiper-slide">
 	<img src="jpg/12/talk7.png" alt="">
 	<span class="talkp"># 可爱小狗 #</span>
 	</li>
 	<li class="swiper-slide">
 	<img src="jpg/12/talk6.png" alt="">
<span class="talkp"># 沙滩美女 #</span>
 	</li>
 	<li class="swiper-slide">
 	<img src="jpg/12/talk4.png" alt="">
 	<span class="talkp"># 电脑屏幕 #</span>
 	</li>
 	<li class="swiper-slide">
 	<img src="jpg/12/talk5.png" alt="">
<span class="talkp">#跨越四十年#</span>
 	</li>

 </ul>

</div>
<div class="talk-ban">
<ul>
	<li class="tupl">
	<h3>#钓鱼岛是中国的#</h3>
	<div class="talk-ban-1">
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">
<h4>“支持啊”</h4>
</div>
</div>
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">“钓鱼岛是中国的...”</div>
</div>
<div class="tell">
<a href="">娱乐</a>
<a href="">3412关注</a>
<a href="">1917讨论</a>
<span></span>
</div>

   </div>


	</li>
	<li class="tupl">
   <h3>#部队那些事儿#</h3>
	<div class="talk-ban-1">
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">
<h4>“苦啊”</h4>
</div>
</div>
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">“好男儿志在四方”</div>
</div>
<div class="tell">
<a href="">娱乐</a>
<a href="">3412关注</a>
<a href="">1917讨论</a>
<span></span>
</div>

   </div>

	</li>
	<li class="tupl">
<h3>#有生以来干过最二的事#</h3>
	<div class="talk-ban-1">
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">
<h4>“忘了”</h4>
</div>
</div>
<div class="talk">
<div class="talklef icon iconfont">&#xe63d;</div>
<div class="talkrigh">“围观二楼吃翔”</div>
</div>
<div class="tell">
<a href="">娱乐</a>
<a href="">3412关注</a>
<a href="">1917讨论</a>
<span></span>
</div>

   </div>

	</li>
</ul>
</div>
</div>


</div>

<script language="javascript"> 
var mySwiper = new Swiper('.swiper-container',{
slidesPerView : 3,
spaceBetween : 20,
})
</script>