
	<div class="person" ng-controller="wo">
		<div class="persontop">
<div class="pt-a icon iconfont"><a href="#/shezhi">&#xe603; 设置</a></div>
			<div class="pt-b icon iconfont">&#xe620;</div>
			<span class="pt-c">
				<div class="pt-c1">小小一枝花</div>
				<div class="pt-c2">跟贴局科员</div>
				<div class="pt-c3">今天阅读了两篇新闻，超过了6%的易友</div>
			</span>
		</div>
		<div class="personbottom">
			<div class="pdtop">
				<span>
					<div class="sp">2</div>
					<div class="sp">阅读</div>
				</span>
				<span>
					<div class="sp">2</div>
					<div class="sp">收藏</div>
				</span>
				<span>
					<div class="sp">2</div>
					<div class="sp">跟帖</div>
				</span>
				<span>
					<div class="sp">5</div>
					<div class="sp">金币</div>
				</span>
			</div>
			<div class="pdcenter">
			<ul>
             <li>
             <span>我的消息</span>
             <a href="" class="youiz">3个新消息</a>
             </li>
             <li>
             <span>金币商城</span>
             <a href="" class="youiz">小金币也能夺宝了</a>
             </li>
             <li>
             <span>我的任务</span>
             <a href="" class="youiz">9个未完成</a>
             </li>
             <li>
             <span>我的钱包</span>
             <a href="" class="youiz"></a>
             </li>
             <li>
             <span>夜间模式</span>
             <a href="" class="youiz  yejian"></a>
             </li>
             <li>
             <span>离线阅读</span>
             <a href="" class="youiz"></a>
             </li>
             <li>
             <span>活动广场</span>
             <a href="" class="youiz"></a>
             </li>
             <li>
             <span>我的邮箱</span>
             <a href="" class="youiz"></a>
             </li>
             <li>
             <span>意见反馈</span>
             <a href="" class="youiz"></a>
             </li>
            
			</ul>

			</div>
		</div>
	</div>
 