
<div class="divend" ng-controller="xinwen">
<div class="head">
<div><img src="jpg/xinwen/xinwen.png" alt=""></div>
<span class="icon iconfont"><a href="#/zhibo">&#xe61a;</a></span>
<span class="icon iconfont">&#xe63a;</span>

</div>
<div class="header">
<ul>
	<li><a href="" ng-class="{as2:title=='头条'}" ng-click="title='头条'">头条</a></li>
	<li><a href="" ng-class="{as2:title=='娱乐'}"  ng-click="title='娱乐'">娱乐</a></li>
	<li><a href="" ng-class="{as2:title=='热点'}"  ng-click="title='热点'">热点</a></li>
	<li><a href="" ng-class="{as2:title=='体育'}"  ng-click="title='体育'">体育</a></li>
	<li><a href="" ng-class="{as2:title=='网易号'}"  ng-click="title='网易号'">网易号</a></li>
	<li><a href="" ng-class="{as2:title=='太原'}"  ng-click="title='太原'">太原</a></li>
	<li><a href="" ng-class="{as2:title=='^'}"  ng-click="title='^'">^</a></li>
</ul>
</div>
<div class="t">
<div class="tu">
<img src="jpg/12/xinwen.png" alt="">
</div>
<div class="tuwen">
<ul>
	<li>
   <div class="left"><img src="jpg/12/xinwen1.png" alt=""></div>
   <div class="right">
   <p>女子丰胸不对称，维权遭医院自导自演"砸摔计"</p>
   <span class="right-1">新闻热点</span>
   <span class="right-2">2.21万跟帖</span>
   </div>
	</li>
	<li>
   <div class="left"><img src="jpg/12/xinwen2.png" alt=""></div>
   <div class="right">
   <p>女子丰胸不对称，维权遭医院自导自演"砸摔计"</p>
   <span class="right-1">新闻热点</span>
   <span class="right-2">1.21万跟帖</span>
   </div>
	</li>
		<li>
   <div class="left"><img src="jpg/12/xinwen3.png" alt=""></div>
   <div class="right">
   <p>女子丰胸不对称，维权遭医院自导自演"砸摔计"</p>
   <span class="right-1">新闻热点</span>
   <span class="right-2">24.21万跟帖</span>
   </div>
	</li>
</ul>

</div>
	
</div>
</div>