<div class="yuedu" ng-controller="yuedu">
	<div class="head">
		<div><a href="#/yuedu" class="xiao" ng-class="{xiao:title=='推荐阅读'}" ng-click="title='推荐阅读'">推荐阅读</a></div>
		<div><a href="#/wodeding" ng-class="{xiao:title=='我的订阅'}" ng-click="title='我的订阅'">我的订阅</a></div>
		<span class="icon iconfont"><a href="#/tuijian">&#xe628;</a></span>

	</div>

	<div class="read">
	<ul>
		<li> 
        <div class="read-t">
   <div class="read-t-l">
<img src="jpg/read/read-4.jpg" alt="">

   </div>
   <div class="read-t-r">
   <p>露香肩手挽手现身酒店手挽手现身酒店</p>
   </div>
        </div>
        <div class="read-b">
   <div class="read-b-l">生活晨报</div>
   <div class="read-b-r">x</div>
        </div>
		</li>
			<li>
        <div class="read-t">
   <div class="read-t-l">
<img src="jpg/read/read-6.jpg" alt="">
   </div>
   <div class="read-t-r">
   <p>清晒疑婚礼图证再婚 网友:是活动照</p>
   </div>
        </div>
        <div class="read-b">
   <div class="read-b-l">夜谈</div>
   <div class="read-b-r">x</div>
        </div>
		</li>

		<li>
		<span>
<div class="read-l">
<img src="jpg/read/read-2.jpg" alt="">
</div>
<div class="read-r">
 <div class="read-r-1">
<img src="jpg/read/read-1.jpg" alt="">
 </div>
 <div class="read-r-1">
<img src="jpg/read/read-3.jpg" alt="">
 </div>

</div>
		</span>

		</li>
    <h2 class="ssa">百亿研发经费没白花，红旗全尺寸SUV只卖四百万</h2>
	</ul>

	</div>


</div>